#jne-tiki-tracker{
	width:99%;
	min-width:400px;
	margin:0 auto 20px auto;
	padding:0;
	overflow:hidden;
}
#jne-tiki-tracker .copyright{
	font-family:arial;
	font-size:9px;
	text-align:center;
	margin:5px 20px 5px 5px;
	padding:0;
	line-height:1em;
	color:#aaa;
	display:block !important;
	position:relative !important;
	visibility:visible !important;
}
#jne-tiki-tracker .copyright a{
	text-decoration:none;
	color:#aaa;
}
#jne-tiki-tracker .copyright a:hover{
	text-decoration:underline;
	color:#555;
}
#jne-tiki-tracker .copyright strong{
	font-weight:normal;
	color:#aaa;
}
#track-frm {
    margin: 5px auto !important;
    overflow: hidden;
    padding: 0 !important;
    width: 270px;
}
#track-frm label{
	display:inline !important;
}
#track-frm input[type="text"] {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #aaa;
    color: #333;
    float: left;
    font-family: arial;
    font-size: 14px;
    margin: 0;
    padding: 2px;
    width: 140px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
}
#track-frm #wait{
	float: left;
	margin: 3px 0 0 3px;
	border: 0 none;
	padding:0;
}
#track-frm input[type="submit"] {
    background: none repeat scroll 0 0 #1e3377;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 3px;
    padding: 2px 9px;
}
#track-frm input[type="submit"]:hover {
	background: none repeat scroll 0 0 red;
}
#track-frm fieldset{
	border:0 none;
	margin:0;
	padding:0;
}

#ajax-result{
    color: #666462;
    font: 12px/16px Arial;
	margin:0 auto;
	padding:10px 0 0 0;
	overflow:hidden;
}
#ajax-result td{
	padding:2px 5px;
}
#ajax-result .errorMessage{
	font-weight:bold;
	padding:10px;
	background-color:red;
	color:#fff;
	text-align:center;
}
#ajax-result table {
    border-collapse: separate;
	border-spacing: 2px;
    border: 0 none;
    width: 99%;
	background-color: #fff;
}
#ajax-result tr.trackH {
    background: none repeat scroll 0 0 #1e3377;
    color: #fff;
    text-align: center;
}
#ajax-result .trackC {
    background: none repeat scroll 0 0 #e0e0e0;
    color: #000000;
    text-align: left;
}